[user]
	name = Tarek Allam
	email = t.allam.jr@gmail.com
[push]
	default = simple
[diff]
    tool = vimdiff
	submodule = log
[difftool]
    prompt = false
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[alias]
    merge = merge --no-ff
	ss = status
	co = checkout
	logg = log --graph --decorate --oneline --abbrev --all
    vimdiff = difftool
    ap = add --patch
    cp = cherry-pick
    dc = diff --cached
    sa = stash apply
    sp = stash pop
    ba = branch --all --verbose
    pulla = pull --all
    pusm = pull upstream master
    pushnov = push --no-verify
	spush = push --recurse-submodules=on-demand
    spull = !git pull && git submodule sync --recursive && git submodule update --init --recursive && git submodule update --remote
[status]
	submoduleSummary = true
